<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-4 md:gap-6">
  <% items.forEach(function(book){ %>
    <%- include('product-card', { book: book }) %>
  <% }) %>
</div>

